<!--{% extends 'base.html' %}-->
<!--{% block content %}-->
<body>
    <header class="bg-white shadow sticky top-0 z-10">
      <div class="max-w-6xl mx-auto px-4 py-4 flex justify-between items-center">
        <h1 class="text-2xl font-bold text-pink-600">Niho</h1>
        <nav class="space-x-4">
          <a href="#services" class="text-gray-600 hover:text-pink-500">Услуги</a>
          <a href="#about" class="text-gray-600 hover:text-pink-500">О нас</a>
          <a href="#contact" class="text-gray-600 hover:text-pink-500">Контакты</a>
        </nav>
      </div>
    </header>
</body>
<!--{% endblock %}-->